doctype html
html
 head
  title= title
  link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
  link(rel="stylesheet", href="/main.css")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
 body
  nav.navbar.navbar-inverse
   div.container-fluid
    div.navbar-header
     a.navbar-brand(href="/") Airline
    div
     ul.nav.navbar-nav
      li#home-menu: a(href="/") Home
      li#arrival-menu: a(href="/arrivals") Arrived Flights
      li#login-menu: a(href="/user") Login
  div.container
   block content