extends layout

block content
 script.
  $("#home-menu").addClass("active");
 h1= title
 ul
  each flight, index in flights
   - flight = flight.getInfo()
   li: a(href= "flight/" + flight.number)= "Flight " + flight.number